@font-face {
  font-family: 'OutFit';
  src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype'), url('fonts/Outfit-Thin.woff') format('woff'), url('fonts/Outfit-Thin.woff2') format('woff2');
}
body {
  font-family: 'OutFit';
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(217, 54%, 11%);
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 48rem) {
  body {
    font-size: 1.125rem;
  }
}
body .nft__card {
  display: flex;
  flex-direction: column;
  max-width: 20.63rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 1rem;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 1.2rem 2.2rem 1rem rgba(0, 0, 0, 0.4), -1.2rem 2.2rem 1rem rgba(0, 0, 0, 0.4);
}
@media (min-width: 48rem) {
  body .nft__card {
    max-width: 22.13rem;
    max-height: 37.375rem;
  }
}
body .nft__card-image-container {
  position: relative;
  max-width: 17.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  body .nft__card-image-container {
    max-width: 19rem;
    margin-bottom: 1.3rem;
  }
}
body .nft__card-image-container img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}
body .nft__card-image-container .nft__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 0.5rem;
}
body .nft__card-image-container .nft__card-overlay img {
  width: 2.5rem;
  height: auto;
  margin: 0;
}
body .nft__card-image-container:hover .nft__card-overlay {
  opacity: 1;
}
body .nft__card-title {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
body .nft__card-title:hover {
  color: hsl(178, 100%, 50%);
}
@media (min-width: 48rem) {
  body .nft__card-title {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
  }
}
body .nft__card-description {
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  body .nft__card-description {
    font-size: 1.125rem;
    margin-bottom: 1.3rem;
  }
}
body .nft__card-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.9rem;
  padding-bottom: 0.9rem;
  border-bottom: 0.1rem solid hsl(215, 51%, 70%);
}
@media (min-width: 48rem) {
  body .nft__card-details-container {
    margin-bottom: 1rem;
    padding-bottom: 1.3rem;
  }
}
body .nft__card-details-container .nft__card-price-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5rem;
}
body .nft__card-details-container .nft__card-price-container img {
  height: auto;
}
body .nft__card-details-container .nft__card-price-container p {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}
@media (min-width: 48rem) {
  body .nft__card-details-container .nft__card-price-container p {
    font-size: 1rem;
  }
}
body .nft__card-details-container .nft__card-time-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
}
body .nft__card-details-container .nft__card-time-container img {
  height: auto;
}
body .nft__card-details-container .nft__card-time-container p {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}
@media (min-width: 48rem) {
  body .nft__card-details-container .nft__card-time-container p {
    font-size: 1rem;
  }
}
body .nft__card-creator-container {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  border-radius: 50%;
}
body .nft__card-creator-container img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid hsl(0, 0%, 100%);
}
body .nft__card-creator-container p {
  color: hsl(215, 51%, 70%);
}
@media (min-width: 48rem) {
  body .nft__card-creator-container p {
    font-size: 1rem;
  }
}
body .nft__card-creator-container p a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  cursor: pointer;
}
body .nft__card-creator-container p a:hover {
  color: hsl(178, 100%, 50%);
}
body .nft__card-creator-container .nft__card-creator-text-container {
  text-decoration: none;
}
body .modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsl(217, 54%, 11%);
}
body .modal__content {
  width: auto;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
body .modal__close {
  position: absolute;
  top: 0;
  right: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: 400;
  transition: 0.5s;
}
body .modal__close:hover,
body .modal__close:focus {
  color: hsl(178, 100%, 50%);
  text-decoration: none;
  cursor: pointer;
}
body footer {
  display: none;
}
